@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
	@apply h-full text-white select-none overflow-hidden;
}

.draggable {
	--wails-draggable: drag;
}

.not-draggable {
	--wails-draggable: no-drag;
}

.scrollarea {
	max-width: 100%;
	height: 100%;
	overflow-y: auto !important;
}

.scrollarea::-webkit-scrollbar {
	width: 0.65rem;
}

.scrollarea::-webkit-scrollbar-track {
	@apply bg-convex-900;
}

.scrollarea::-webkit-scrollbar-thumb {
	@apply bg-convex-700 rounded-lg;
}

.scrollarea::-webkit-scrollbar-thumb:hover {
	@apply bg-convex-950;
}

.scrollarea::-webkit-scrollbar-thumb:active {
	@apply bg-convex-950;
}

.scrollarea::-webkit-scrollbar-thumb:window-inactive {
	@apply bg-convex-950;
}
